.todo-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    padding: 15px 20px;
}
.check-text{
    display: flex;
    gap: 10px;
}
.edit-delete-container{
    display: flex;
    gap: 8px;
}
.completed{
    text-decoration: line-through;
}